@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <h1 class="display-4">Welcome please </h1>
        <input type="file" asp-for="Upload"/>
        <button type="submit"/>
    </form>

</div>
